body{
    background: #2bc0e4; 
    background: -webkit-linear-gradient(to right, #2bc0e4, #eaecc6); 
    background: linear-gradient(to right, #2bc0e4, #eaecc6);

    /* margin: 0;
    padding: 0; */
}
#dashboard{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px black solid;
}
#logo{
    margin-top: 20px;
}
.hov{
    transition: all .3s ease-out;
}
.hov:hover{
    font-size: 20px;
    transform: translate(5px, 5px);
}
#todobody{
    height:auto;
    width: 100%;
    /* margin-top: 2px; */
}
#intodo{
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    background: #2bc0e4; 
    background: -webkit-linear-gradient(to right, #2bc0e4, #eaecc6); 
    background: linear-gradient(to right, #2bc0e4, #eaecc6);
    text-align: center;
    background-color: rgb(215, 216, 138);
    border-radius: 10%;
}
#list-div{
    width: 500px;
    height: 370px;
    margin-right: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:20px;
}
button {
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); 
    background: linear-gradient(to right, #8E54E9, #4776E6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.1s;
}

button:active {
    width: 85px;
}
label{
    font-size:24px;
}
.container {
    padding: 16px;
}


.input-sidebyside{
    display: flex;
}
.one{
    width: 400px;
}
.two{
    width: 82px;
    margin-top: 22px;
}
.two button{
    height: 49px;
}
ul{
    padding-left: 18px;
    padding-right: 10px;
    list-style-type: none;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    left: 0px;
    text-align: left;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}