<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="dashboard">
        <div id="logo">
            <img src="https://img.icons8.com/ios-filled/50/000000/to-do.png"/>
        </div>
        
        <div class="dashboard-items hov">
            <h1>TODO LIST</p>
        </div>
        <div class="dashboard-items">
            <h2> 
                <a href="./sign-up">Sign up</a>
            </h2>
        </div>
    </div>
    <div id="main-body">
        <div id="sign-page">
            <div>
                <h1>Sign In</h1>
            </div>
            <form action="/sign-in" method="POST">
                <div class="container">
                    <label for="uname"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="email" required>
                    <br>
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <br>
                
                    <button type="submit">Login</button>
                    <p> 
                        Create Account?
                        <a href="./sign-up">Sign Up</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>